@model GestionActivos.Models.SucursalesViewModel

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sucu_Id" id="idSucu" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
