@model GestionActivos.Models.SucursalesViewModel

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sucu_Id" id="idSucu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <div class="col-sm-4">
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
