@model GestionActivos.Models.SucursalesViewModel

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sucu_Id" id="idSucu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
