@model SistemaActivos.Common.Model.UsuariosViewmodel

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Usua_Id" id="UsuaId" />
        <input type="submit" value="Eliminar" id="btnEliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>