@model GestionActivos.Models.EstadosCivilesViewModel

<div>
    <form asp-action="Delete">
        <input asp-for="EstD_Id" type="hidden" id="EstD_Id" class="form-control" />

        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
