@model SistemasActivos.API.Model.CategoriasViewmodel

<div>  
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cate_Id" id="cateId"/>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
