@model SistemasActivos.API.Model.CategoriasViewmodel

<div>  
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cate_Id" id="cateId"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <div class="col-sm-4">
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div> 
    </form>
</div>
