@model SistemasActivos.API.Model.CategoriasViewmodel

<h4>CategoriasViewmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Cate_Id" class="form-control" hidden id="txtID" />
            </div>
            <div class="form-group">
                <label asp-for="Cate_Descripcion" class="control-label"></label>
                <input asp-for="Cate_Descripcion" class="form-control" id="txtDesc" />
                <span asp-validation-for="Cate_Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <div class="col-sm-4">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
