@model SistemasActivos.API.Model.VidaUtilViewmodel

<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VidU_Id" id="viduid" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
